@model CommitsViewModel
@{
    ViewData["Title"] = "Git repository commits viewer";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form asp-action="Search" asp-controller="Commits">
                <div class="row mb-4">
                    <fieldset>
                        <legend>Repository</legend>
                        <div class="row p-sm-1">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-2 align-self-center">
                                        <label class="form-label" asp-for="Owner">Owner</label>
                                    </div>
                                    <div class="col-8 align-self-center">
                                        <input class="form-control" type="text" asp-for="Owner" value=@Model.Owner />
                                        <span class="text-danger" asp-validation-for="Owner" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row p-sm-1">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-2 align-self-center">
                                        <label class="form-label" asp-for="Repo">Name</label>
                                    </div>
                                    <div class="col-8 align-self-center">
                                        <input class="form-control" type="text" asp-for="Repo" value=@Model.Repo />
                                        <span class="text-danger" asp-validation-for="Repo" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row p-sm-1">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-2 align-self-center">
                                        <label class="form-label" asp-for="Login">Login</label>
                                    </div>
                                    <div class="col-8 align-self-center">
                                        <input class="form-control" type="text" asp-for="Login" value=@Model.Login />
                                        <span class="text-danger" asp-validation-for="Login" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row p-sm-1">
                            <button class="btn btn-primary w-25" name="action" value="search">Search</button>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
        <div class="col-sm-8">
            <fieldset>
                <legend>Commits</legend>
                <div class="row p-sm-1">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Comment</th>
                                <th>Description</th>
                                <th>Author</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Commits)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Description</td>
                                    <td>@item.Author?.Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}