@model CommitsViewModel
@{
    ViewData["Title"] = "Git repository commits viewer";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form>
                <div class="row mb-4">
                    <fieldset>
                        <legend>Repository</legend>
                        <div class="row p-sm-1">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-2 align-self-center">
                                        <label class="form-label">Owner</label>
                                    </div>
                                    <div class="col-8 align-self-center">
                                        <input class="form-control" type="text" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row p-sm-1">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-2 align-self-center">
                                        <label class="form-label">Name</label>
                                    </div>
                                    <div class="col-8 align-self-center">
                                        <input class="form-control" type="text" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row p-sm-1">
                            <button class="btn btn-primary w-25" name="action" value="Search">Search</button>
                        </div>
                    </fieldset>
                </div>
                <div class="row mb-4">
                    <fieldset>
                        <legend>Comitter</legend>
                        <div class="row p-sm-1">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-2 align-self-center">
                                        <label class="form-label">Login</label>
                                    </div>
                                    <div class="col-8 align-self-center">
                                        <input class="form-control" type="text" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row p-sm-1 justify-content-between">
                            <button class="btn btn-primary w-25" name="action" value="Filter">Filter</button>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
        <div class="col-sm-8">
            <fieldset>
                <legend>Commits</legend>
                <div class="row p-sm-1">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Timestamp</th>
                                <th>Author</th>
                                <th>Comment</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>test</td>
                                <td>test</td>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>
</div>
