@model CommitsViewModel
@{
    ViewData["Title"] = "Git repository commits viewer";
}

<form asp-action="Search" method="post" asp-controller="Commits">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="row mb-4">
                    <fieldset>
                        <legend>Repository</legend>
                        <div class="row p-sm-1">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-2 align-self-center">
                                        <label class="form-label" asp-for="Owner">Owner</label>
                                    </div>
                                    <div class="col-8 align-self-center">
                                        <input class="form-control" type="text" asp-for="Owner" value=@Model.Owner />
                                        <span class="text-danger" asp-validation-for="Owner" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row p-sm-1">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-2 align-self-center">
                                        <label class="form-label" asp-for="Repo">Name</label>
                                    </div>
                                    <div class="col-8 align-self-center">
                                        <input class="form-control" type="text" asp-for="Repo" value=@Model.Repo />
                                        <span class="text-danger" asp-validation-for="Repo" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row p-sm-1">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-2 align-self-center">
                                        <label class="form-label" asp-for="Login">Login</label>
                                    </div>
                                    <div class="col-8 align-self-center">
                                        <input class="form-control" type="text" asp-for="Login" value=@Model.Login />
                                        <span class="text-danger" asp-validation-for="Login" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row p-sm-1">
                            <button class="btn btn-primary w-25 mx-sm-1" name="action" value="search">Search</button>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="col-sm-8">
                <fieldset>
                    <legend>Commits</legend>
                    <div class="row mb-4">
                        <button class="btn btn-primary w-25 mx-sm-1" name="action" value="fetch">Fetch</button>
                        <button class="btn btn-danger w-25 mx-sm-1" name="action" value="delete">Delete</button>
                    </div>
                    <div class="row p-sm-1">
                        <table class="table table-striped table-sm">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Timestamp</th>
                                    <th>Description</th>
                                    <th>Author</th>
                                </tr>
                            </thead>
                            <tbody>
                                @Html.EditorFor(model => model.Commits)
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}